.datepicker .datepicker-content {
  padding: 0;
}

.datepicker-calendar {
  padding: 0;
}

.calendar {
  width: 100%;
  overflow: auto;
}

.calendar th {
  font-size: 10px;
}
.calendar td a {
  font-size: 10px;
  padding: 3px;
}

.popover-content {
  padding: 0;
}

.tip-inner .datepicker-close a {
  position: absolute;
  right: 0px; top: 0px; width:20px;
  background-color: #FFF; color: #595959;
  margin-top:-10px; margin-right:-10px; border-radius: 20px;
  padding-left: 3px; padding-top: 1px;
  cursor:pointer; z-index: -1;
  font-size:16px;
  text-decoration: none;
}


.tip-inner .datepicker-close a:hover {
  color: black;
  font-weight: bold;
}

